---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$primary-color: #9AC8F0;
$leftbox-bg: lighten($primary-color, 15%);
$link-color: #264E70;
$text-color: #000000;
$light-color: #485E70;
$code-inline-color: #D14;
$code-inline-background-color: #E8E8E8;
$code-block-background-color: #F7F7F7;

$overall-padding-top: 25px;

$leftbox-width: 15%;
$leftbox-smaller-width: 70%;
$leftbox-left-padding: 25px;
$leftbox-right-padding: 25px;
$leftbox-padding-top: $overall-padding-top;

$content-box-padding: ($leftbox-right-padding + $leftbox-left-padding) / 1.25;
$content-box-top-padding: $overall-padding-top;

$icon-height: 24px;
$icon-container-height: $icon-height * 1.4;

$mobile-screen: 480px;
$smaller-screen: 800px;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "pygment_trac",
  "base",
  "leftbox",
  "content",
  "projects",
  "charts"
;
