---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$primary-color: #9AC8F0;
$leftbox-bg: lighten($primary-color, 15%);
$link-color: #264E70;
$text-color: #000000;
$light-color: #485E70;
$code-inline-color: #D14;
$code-inline-background-color: #E8E8E8;
$code-block-background-color: #F7F7F7;

$overall-padding-top: 25px;

$leftbox-width: 20%;
$leftbox-smaller-width: 70%;
$leftbox-massive-width: 15%;

$leftbox-left-padding: 25px;
$leftbox-right-padding: 25px;
$leftbox-padding-top: $overall-padding-top;

$content-box-padding: ($leftbox-right-padding + $leftbox-left-padding) / 1.25;
$content-box-top-padding: $overall-padding-top;

$content-box-width: 70%;
$content-box-small-width: 90%;
$content-box-massive-width: 50%;

$icon-height: 24px;
$icon-container-height: $icon-height * 1.4;

$mobile-screen: 480px;
$smaller-screen: 800px;
$massive-screen: 1400px;

$font-size-standard: 14px;
$font-size-large: 28px;
$font-size-callout: 16px;
$font-size-small: 10px;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "pygment_trac",
  "base",
  "leftbox",
  "content",
  "projects",
  "charts",
  "books"
;
