---
layout: layout
title: Home
---
  <div>
    <h1>Blog</h1>
    <ul id="posts">
      {% for post in site.categories.blog limit:5 %}
      <li>
        <p><a href="{{ post.url }}">{{ post.title }}</a> - <abbr>{{ post.date | date: '%B %e, %Y' }}</abbr></p>
        <p>{{ post.excerpt | markdownify }}
        <a href="{{ post.url }}">read more...</a></p>
      </li>
      {% endfor %}
    </ul>
    <p>For older posts, check out the <a href="/blog">blog</a>.</p>
  </div>

  <div>
    <h1>Books</h1>
    <ul id="books">
      {% for post in site.categories.books limit:5 %}
      <li>
        <p><a href="{{ post.url }}">{{ post.title }}</a> - <abbr>{{ post.date | date: '%B %e, %Y' }}</abbr></p>
      </li>
      {% endfor %}
    </ul>
    <p><a href="/books">All books</a>.</p>
  </div>

  <div>
    <h1>Projects</h1>

    <div class="project-thumb">
      <a href="http://citibike-rebalancing.herokuapp.com">
        <div class="project-thumb-img-container">
          <div class="project-thumb-rebalancing"></div>
          <div class="project-thumb-body">
            <h4 class="project-thumb-title">Prioritizing Stations in Citibike Rebalancing</h4>
            <p class="project-thumb-content">Tackling the problem of choosing which of the 330 Citibike stations should be prioritized.</p>
          </div>
        </div>
      </a>
    </div>

    <div class="project-thumb">
      <a href="{{ site.url }}/projects/spotify-charts.html">
        <div class="project-thumb-img-container">
          <div class="project-thumb-charts"></div>
          <div class="project-thumb-body">
            <h4 class="project-thumb-title">Visualizing Spotify's charts</h4>
            <p class="project-thumb-content">Working with D3 Interpolation on Spotify Charts</p>
          </div>
        </div>
      </a>
    </div>

    <div class="project-thumb">
      <a href="{{ site.url }}/projects/citibike-trips.html">
        <div class="project-thumb-img-container">
          <div class="project-thumb-citibike"></div>
          <div class="project-thumb-body">
            <h4 class="project-thumb-title">Visualizing Citibike Trips</h4>
            <p class="project-thumb-content">Visualizing the Citibike station network using trips from February, 2014</p>
          </div>
        </div>
      </a>
    </div>

  </div>
