<div class="leftbox">
  <header>
    <h1><a href="{{ site.url }}">Ben Smithgall</a></h1>
    <p><strong>Welcome to the web blog</strong></p>

    <ul class="social-icons">
      <li>
        <a target="_blank" alt="LinkedIn" title="LinkedIn Profile" href="http://linkedin.com/in/bsmithgall"><img src="/images/linkedin.png" /></a>
      </li>
      <li>
        <a target="_blank" alt="Twitter" title="Follow me on Twitter" href="http://twitter.com/bsmithgall"><img src="/images/twitter.png" /></a>
      </li>
      <li>
        <a target="_blank" alt="Github" title="Github" href="http://github.com/bsmithgall"><img src="/images/github.png" /></a>
      </li>
      <li>
        <a target="_blank" alt="RSS" title="Get the RSS Feed" href="http://bensmithgall.com/feed.xml"><img src="/images/rss.png" /></a>
      </li>
    </ul>

    <p>{{ site.description }}</p>

  </header>

  <ul class="ul-no-styling">
    <li><a href="/">Home.</a></li>
    <li><a href="/blog">Blog.</a></li>
    <li><a href="/projects">Projects.</a></li>
  </ul>

</div>
