<div class="leftbox">
  <header>
    <h1><a href="{{ site.url }}">Ben Smithgall</a></h1>
    <p><strong>Welcome to the web blog</strong></p>

    <ul class="social-icons">
      <li>
        <a
          target="_blank"
          alt="LinkedIn"
          title="LinkedIn Profile"
          href="https://linkedin.com/in/bsmithgall"
          ><img src="/images/linkedin.png"
        /></a>
      </li>
      <li>
        <a
          target="_blank"
          alt="Twitter"
          title="Follow me on Twitter"
          href="https://twitter.com/bsmithgall"
          ><img src="/images/twitter.png"
        /></a>
      </li>
      <li>
        <a
          target="_blank"
          alt="Github"
          title="Github"
          href="https://github.com/bsmithgall"
          ><img src="/images/github.png"
        /></a>
      </li>
      <li>
        <a
          target="_blank"
          alt="RSS"
          title="Get the RSS Feed"
          href="https://bensmithgall.com/feed.xml"
          ><img src="/images/rss.png"
        /></a>
      </li>
    </ul>

    <p>{{ site.description }}</p>
  </header>

  <div>
    <p><a href="/">Home</a></p>
    <p><a href="/blog">Blog</a></p>
    <p><a href="/books">Books</a></p>
    <p><a href="/projects">Projects</a></p>
  </div>
</div>
