@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: $font-size-standard;
  font-weight:400;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, table, pre, dl {
  margin: 0 0 15px 0;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size: $font-size-large;
}

a {
  color: $link-color;
  font-weight: bold;
  text-decoration: none;

  &:small {
    font-size: $font-size-small;
    margin-top:-0.6em;
    margin-bottom:-.6em;
    display:block;
  }

}

a:hover {
  text-decoration: underline;
}

blockquote {
  border-left:1px solid $code-inline-background-color;
  margin: 0 0 15px 0;
  padding: 0 0 0 15px;
  font-style:italic;
}

code, pre {
  color: $code-inline-color;
  background: $code-inline-background-color;
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  font-size: $font-size-standard;
}

code {
  padding: 1px 3px;
  border-radius: 3px;
}

pre {
  padding: 10px;
  border-radius:5px;
  border:1px solid $code-inline-background-color;
  overflow-x: auto;

  code {
    color: $text-color;
    padding-left: 0;
  }
}

.highlight {
  background-color: $code-block-background-color;

  code, pre {
    color: $text-color;
    background-color: $code-block-background-color;
  }
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid $code-block-background-color;
}

dt {
  font-weight:700;
}

img {
  max-width:100%;
}

small {
  font-size: $font-size-small;
  color: $light-color;
}

hr {
  border:0;
  background:$code-block-background-color;
  height:1px;
  margin:0 0 15px;
}

footer {
  width: $leftbox-width;
  padding-left: $leftbox-left-padding;
  float:left;
  position:fixed;
  bottom:50px;

  @media screen and (max-width: $smaller-screen) {
    padding-top: 25px;
    width: 100%;
    position: relative;
    width: $leftbox-smaller-width;
  }
}
