.content-box {
  margin-left: $leftbox-width;
  padding-right: $content-box-padding;
  padding-top: $content-box-top-padding;

  section {
    margin-left: $leftbox-width/1.8;
    padding-bottom: 50px;
    max-width: $content-box-width;

    @media screen and (max-width: $smaller-screen) {
      margin-left: 0;
      padding-left: $leftbox-left-padding;
      padding-right: $leftbox-right-padding;
      max-width: $content-box-small-width;

      ul {
        margin-left: -20px;
      }
    }

    @media screen and (max-width: $mobile-screen) {
      max-width: 100%;
    }

    @media screen and (min-width: $massive-screen) {
      max-width: $content-box-massive-width;
      margin-left: $leftbox-massive-width/1.8;
    }
  }

  @media screen and (max-width: $smaller-screen) {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
  }

  @media screen and (min-width: $massive-screen) {
    margin-left: $leftbox-massive-width;
  }

}
