table.books {
  .booklink {
    text-decoration: underline;
  }

  tr {
    @media screen and (max-width: $smaller-screen) {
      td:first-of-type {
        display: none;
      }

      th:first-of-type {
        display: none
      }
    }
  }

  td {
    @media screen and (max-width: $smaller-screen) {
    }
  }
}
